[Unit]
Description=CryptoCrumple Service
After=network.target

[Service]
Type=simple
ExecStart=/home/main/PycharmProjects/Crypto/crumpleService.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
